/* src/pages/SignupPage.css */


.signup-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://wallpaperaccess.com/full/1196472.jpg);
    background-size: cover;
    background-position: center;
  }
  
  
  .signup-page h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container {
    margin-bottom: 15px;
  }
  
  .container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .container input[type="text"],
  .container input[type="password"],
  .container input[type="email"],
  .container input[type="date"],
  .container select,
  .container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .container textarea {
    resize: vertical;
  }
  
  .container input[type="radio"],
  .container input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .container .required::after {
    content: " *";
    color: red;
  }
  
  .container input[type="submit"],
  .container input[type="reset"],
  .container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .container input[type="submit"] {
    background-color: #4caf50;
    color: white;
  }
  
  .container input[type="reset"] {
    background-color: #f44336;
    color: white;
  }
  
  .container button {
    background-color: #008cba;
    color: white;
    margin-right: 5px;
  }
  