.collaborate-content {
  text-align: center; /* Center align the content */
  margin-top: 20px; /* Example margin */
}

.centered {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.centered1 {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}
