/* Global styles */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100%; /* Ensure body and html take full height */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure app takes full height */
  text-align: center;
}

/* Header styles */
header {
  width: 100%;
  background-color: #282c34;
  padding: 20px 0;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.logo h1 {
  margin: 0;
  font-size: 1.5em;
}

.nav-and-buttons {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #444;
  border-radius: 5px;
}

.user-actions {
  display: flex;
  align-items: center;
}

.user-actions button {
  background-color: #61dafb;
  border: none;
  color: #282c34;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.user-actions button:hover {
  background-color: #21a1f1;
}

/* Main content styles */
main {
  flex: 1; /* Allow main to grow and push footer down */
  padding-top: 80px; /* Ensure main content is not hidden under fixed header */
}

/* Footer styles */
footer {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
  text-align: center;
}

/* Scroll-to-top button styles */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none; /* Initially hidden */
  z-index: 1000; /* Ensure it's on top */
  transition: background-color 0.3s;
}

.scroll-to-top:hover {
  background-color: #21a1f1;
}
